@use "app/styles/_var.module.scss" as *;

.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    background-color: #fff;
    padding: 1.5rem 0;
    z-index: 100;
    top: 0;
}

.header_enter_active {
    animation: forwards slow_motion_down 0.2s linear;
}

.header_exit_active {
    animation: forwards slow_motion_up 0.2s linear;
}

@keyframes slow_motion_down {
    100% {
        transform: translateY(-5.8rem);
    }
}

@keyframes slow_motion_up {
    0% {
        transform: translateY(-5rem);
    }
}
