@use "app/styles/index.scss" as *;

* {
    padding: 0;
    margin: 0;
    border: none;
    list-style: none;
    text-decoration: none;
    color: #000;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
}

html {
    font-size: 62.5%;
}

button {
    background-color: #fff;
    color: #000;
    cursor: pointer;
}

#root {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    height: 100%;
    width: 100%;
    align-content: center;
}

@media screen and (max-width: 1200px) {
    html {
        font-size: 9px;
    }
}

@media screen and (max-width: 500px) {
    html {
        font-size: 8px;
    }
}
