@use "app/styles/_var.module.scss" as *;

.wrapper {
    margin-left: 5rem;
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 1.7rem;
    font-weight: 600;
    color: #231f20;

    &_city {
        color: $color-yellow;
        margin-left: 0.6rem;
    }
}

.yandex_delivery {
    margin-top: 0.9rem;
    display: flex;

    &_link,
    &_time {
        font-size: 1.3rem;
        padding: 0.6rem 0.5rem;
        font-weight: 700;
        color: #231f20;
        transition: all 0.2s linear;
        border-radius: 1rem;
    }

    &_link {
        &_food {
            margin-left: 2rem;

            &::before {
                background: url("/shared/ui/assets/icons/navbar/deliveryInfo/yandex-delivery.png")
                    no-repeat 50% 50%;
                position: absolute;
                transform: translate(-2.5rem, -0.1rem);
                width: 18px;
                height: 20px;
                content: "";
            }
        }

        &_rating {
            margin-left: 2rem;

            &::before {
                background: url("/shared/ui/assets/icons/navbar/deliveryInfo/red-ellipse.png")
                    no-repeat 50% 50%;
                position: absolute;
                transform: translate(-1.1rem, -0.2rem);
                width: 4px;
                height: 20px;
                content: "";
            }

            &::after {
                background: url("/shared/ui/assets/icons/navbar/deliveryInfo/star.png")
                    no-repeat 50% 50%;
                position: absolute;
                transform: translate(0.5rem, -0.2rem);
                width: 14px;
                height: 20px;
                content: "";
            }
        }
    }

    &_time {
        &_left {
            margin-left: 1.5rem;
        }

        &_right {
            margin-left: 1rem;

            &::before {
                background: url("/shared/ui/assets/icons/navbar/deliveryInfo/red-ellipse.png")
                    no-repeat 0 60%;
                position: absolute;
                transform: translate(-1.1rem, -0.2rem);
                width: 4px;
                height: 20px;
                content: "";
            }
        }
    }
}